img(src=image)

doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css')
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3' crossorigin='anonymous')
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js' integrity='sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p' crossorigin='anonymous')
  script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js' integrity='sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB' crossorigin='anonymous')
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js' integrity='sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13' crossorigin='anonymous')
  title #{client.user.username}
  style.
    @import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
    :root {
      --clr-primary-1: hsl(205, 86%, 17%);
      --clr-primary-2: hsl(205, 77%, 27%);
      --clr-primary-3: hsl(205, 72%, 37%);
      --clr-primary-4: hsl(205, 63%, 48%);
      --clr-primary-5: hsl(205, 78%, 60%);
      --clr-primary-6: hsl(205, 89%, 70%);
      --clr-primary-7: hsl(205, 90%, 76%);
      --clr-primary-8: hsl(205, 86%, 81%);
      --clr-primary-9: hsl(205, 90%, 88%);
      --clr-primary-10: hsl(205, 100%, 96%);
      --clr-grey-1: hsl(209, 61%, 16%);
      --clr-grey-2: hsl(211, 39%, 23%);
      --clr-grey-3: hsl(209, 34%, 30%);
      --clr-grey-4: hsl(209, 28%, 39%);
      --clr-grey-5: hsl(210, 22%, 49%);
      --clr-grey-6: hsl(209, 23%, 60%);
      --clr-grey-7: hsl(211, 27%, 70%);
      --clr-grey-8: hsl(210, 31%, 80%);
      --clr-grey-9: hsl(212, 33%, 89%);
      --clr-grey-10: hsl(210, 36%, 96%);
      --clr-white: #fff;
      --clr-red-dark: hsl(360, 67%, 44%);
      --clr-red-light: hsl(360, 71%, 66%);
      --clr-green-dark: hsl(125, 67%, 44%);
      --clr-green-light: hsl(125, 71%, 66%);
      --clr-black: #222;
      --ff-primary: "Roboto", sans-serif;
      --ff-secondary: "Open Sans", sans-serif;
      --transition: all 0.3s linear;
      --spacing: 0.1rem;
      --radius: 0.25rem;
      --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
      --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
      --max-width: 1170px;
      --fixed-width: 620px;
    }
    *,
    ::after,
    ::before {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    body {
      background-color: #0a0a19;
      color: #f7f7f7;
      font-family: "Cairo", sans-serif;
    }
    ul {
      list-style-type: none;
    }
    a {
      text-decoration: none;
    }
    h1,
    h2,
    h3,
    h4 {
      letter-spacing: var(--spacing);
      text-transform: capitalize;
      line-height: 1.25;
      margin-bottom: 0.75rem;
      font-family: var(--ff-primary);
    }
    h1 {
      font-size: 3rem;
    }
    h2 {
      font-size: 2rem;
    }
    h3 {
      font-size: 1.25rem;
    }
    h4 {
      font-size: 0.875rem;
    }
    p {
      margin-bottom: 1.25rem;
      color: var(--clr-grey-5);
    }
    @media screen and (min-width: 800px) {
      h1 {
        font-size: 4rem;
      }
      h2 {
        font-size: 2.5rem;
      }
      h3 {
        font-size: 1.75rem;
      }
      h4 {
        font-size: 1rem;
      }
      body {
        font-size: 1rem;
      }
      h1,
      h2,
      h3,
      h4 {
        line-height: 1;
      }
    }
    .section {
      padding: 5rem 0;
    }

    .section-center {
      width: 90vw;
      margin: 0 auto;
      max-width: 1170px;
    }
    @media screen and (min-width: 992px) {
      .section-center {
        width: 95vw;
      }
    }
    main {
      min-height: 100vh;
      display: grid;
      place-items: center;
    }
    .sidebar-toggle {
      position: fixed;
      top: 2rem;
      right: 3rem;
      font-size: 2rem;
      background: transparent;
      border-color: transparent;
      color: #7289DA;
      transition: 0.8s ease;
      cursor: pointer;
      animation: bounce 2s ease-in-out infinite;
    }
    .sidebar-toggle:hover {
      color: #7289DA;
      transform: scale(1.5);
    }

    .sidebar-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 1.5rem;
    }
    .logo {
      justify-self: center;
      height: 40px;
    }

    .links button {
      color: #7289DA;
      display: block;
      font-size: 1.5rem;
      text-transform: capitalize;
      border-radius:0.8em;
      background-color: #0a0a19;
      border: none;
      padding: 0.5rem 1rem;
      transition: 0.2s ease;
      margin: 10px 0;
      width: 90%;
    }
    .links button:hover {
      color: #7289DA;
      padding-left: 5rem;
      background-color: #0a0a19;
    }
    .social-icons {
      justify-self: center;
      display: flex;
      padding-bottom: 2rem;
    }
    .social-icons a {
      font-size: 1.5rem;
      margin: 0 0.5rem;
      color: var(--clr-primary-5);
      transition: var(--transition);
    }
    .social-icons a:hover {
      color: var(--clr-primary-1);
    }

    .sidebar {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: grid;
      background-color: #5e5ac9;
      grid-template-rows: auto 1fr auto;
      row-gap: 1rem;
      box-shadow: var(--clr-red-dark);
      transition: var(--transition);
      transform: translate(-100%);
    }
    .show-sidebar {
      transform: translate(0);
    }
    @media screen and (min-width: 676px) {
      .sidebar {
        width: 400px;
      }
    }
    .main-title {
      margin: 3% 0;
      color: #7289DA;
      font-size: 60px;
      
    }
button.sidebar-toggle
  i.fas.fa-bars
aside.sidebar
  .sidebar-header
    h4 choose the setting you wont to edit!.
  ul.links
    li
      button(onclick="editHtml(this.id)" id="prefix") prefix ➤
    li
      button(onclick="editHtml(this.id)"  id="language") language ➤
    li
      button(onclick="editHtml(this.id)"  id="level") Leveling ➤
    li
      <button onclick="location.href='#{domain}/welcomer/#{guild.id}/'"> Welcomer ➤
.div(align="center")
  h3(class="main-title") #{guild.name} 
    i.fas.fa-chart-line(style="color: #5e5ac9;")
  h4(style="color: #bcbcbc") style your server setting super quick from here.
  br
  br
  br
  br
form(method="POST")
  .content(id="main" align="center")
  

script.
  const toggleBtn = document.querySelector('.sidebar-toggle')
  const sideBar = document.querySelector('.sidebar')

  toggleBtn.addEventListener('click', function(){
      sideBar.classList.toggle('show-sidebar')
  })

  function editHtml(id) {
  sideBar.classList.toggle('show-sidebar')
    let main = document.getElementById("main");
      if (id == "prefix") main.innerHTML = `
      <h2 style="color: #5e5ac9; font-size: 30px;">Type your new prefix here:</h2>
      <div style='width: 20%'>
      <input style="background-color: #242438; color: #fff; border: 2px solid #5e5ac9;" type="text" class="form-control" name="prefix" placeholder="Your Prefix">
      </div>
      <br />
      <button type="submit" onclick="alert('Your data has been saved please click ok to continue')" class="btn btn-success text-white" style="font-size: 20px;"><i class="fas fa-save"></i> Save</button>`
      else if (id == "language") main.innerHTML = `
      <h2 style="color: #5e5ac9; font-size: 30px;">Type your new language here:</h2>
      <div style='width: 20%'>
        <select style="background-color: #242438; padding-right: 15vh; padding-lef: 15vh; color: #fff; border-radius: 5px; border: 2px solid #5e5ac9;" name="language" id="language">
            <option value="ar"> Arabic 🌍</option>
            <option value="en"> English 🌍</option>
        </select>
      </div>
      <br />
      <button type="submit" onclick="alert('Your data has been saved please click ok to continue')" class="btn btn-success text-white" style="font-size: 20px;"><i class="fas fa-save"></i> Save</button>`
      else if (id == "level") 
        main.innerHTML = `
      <h2 style="color: #5e5ac9; font-size: 30px;">Type your new language here:</h2>
      <div style='width: 20%'>
        <select style="background-color: #242438; padding-right: 15vh; padding-lef: 15vh; color: #fff; border-radius: 5px; border: 2px solid #5e5ac9;" name="disableLevelSystem" id="disableLevelSystem">
            <option value="off"> Disable 🔴</option>
            <option value="on"> Enable 🟢</option>
        </select>
        <br />
        <br />
        <h3>Reward system 💹</h3>
        <input style="background-color: #242438; color: #fff; border: 2px solid #5e5ac9;" type="text" class="form-control" name="roleId" placeholder="💹 the role you will give as a reward.">
        <input style="background-color: #242438; color: #fff; border: 2px solid #5e5ac9;" type="text" class="form-control" name="levelId" placeholder="💹 The level you will give the reward in.">
        <br />
        <br />
        <h3>Leveling Config 💹</h3>
        <input style="background-color: #242438; color: #fff; border: 2px solid #5e5ac9;" type="text" class="form-control" name="channelId" placeholder="💹 the channel you will make for level up alerts.">
        <input style="background-color: #242438; color: #fff; border: 2px solid #5e5ac9;" type="text" class="form-control" name="msgId" placeholder="💹 The alert message {user} => mention user, {level} => user level">
      </div>
      <br />
      <button type="submit" onclick="alert('Your data has been saved please click ok to continue')" class="btn btn-success text-white" style="font-size: 20px;"><i class="fas fa-save"></i> Save</button>`
      else main.innerHTML = ""
  }